Source: php-mdb2
Section: web
Priority: extra
Maintainer: Sébastien Gross <seb-ppa@chezwam.org>
Build-Depends: debhelper (>= 9.0.0), pkg-php-tools
Standards-Version: 3.9.5
Homepage: https://pear.php.net/package/MDB2

Package: php-mdb2
Architecture: all
Depends: ${misc:Depends}, ${phppear:Debian-Depends}
Recommends: ${phppear:Debian-Recommends}
Breaks: ${phppear:Debian-Breaks}
Description: ${phppear:summary}
 ${phppear:description}
